<div class="container">
  <div class="cont1">
<div><br><br><br><br>
  <h1>THE QUOTONIUM</h1><br><br><br>
  <h3>we are here to inspire </h3>
  <br><br><br><br><br><br>
  </div>
  </div><br>
<div class="card-columns">
    <div class="card bg-danger text-white">
      <div class="card-body">
        <div *ngFor='let quote of quotes'>
            {{ quote.quote1 }}
           </div><br>
      </div>
    </div>
    <div class="card p-3 bg-warning">
      <blockquote class="blockquote mb-0 card-body">
          <p *ngFor='let quote of quotes'>
              {{ quote.quote2 }}
             </p>
        <footer class="blockquote-footer">
        </footer>
      </blockquote>
    </div>
    <div class="card bg-success text-white">
      <div class="card-body">
        <p *ngFor='let quote of quotes'>
            {{ quote.quote3 }}
           </p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
          <p *ngFor='let quote of quotes'>
              {{ quote.quote4 }}
             </p>
        <footer class="blockquote-footer">
        
        </footer>
      </blockquote>
    </div>
    <div class="card text-center bg-info">
      <div class="card-body">
        <p *ngFor='let quote of quotes'>
            {{ quote.quote5 }}
           </p>
      </div>
    </div>
    <div class="card bg-muted">
        <p *ngFor='let quote of quotes'>
            {{ quote.quote4 }}
           </p>
    </div>
    <div class="card p-3 text-right bg-warning">
      <blockquote class="blockquote mb-0">
          <p *ngFor='let quote of quotes'>
              {{ quote.quote5 }}
             </p>
        <footer class="blockquote-footer">
        </footer>
      </blockquote>
    </div>
  </div>