h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:gainsboro;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans';
    color:red;
}
.cont1{
    background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2012/09/21/15744/3ad1c548edfc58f499feda5b042fb857-700.jpg);
    background-repeat: no-repeat;
}