<div class="container">
    <div class="cont1">
        <div><br><br><br><br>
            <h1>THE QUOTONIUM</h1><br><br><br>
            <h3>we are here to inspire </h3>
            <br><br><br><br><br><br>
        </div>
    </div><br>
    <div class="card-columns">
            <div class="card bg-danger text-white"  *ngFor='let quote of quotes;let i = index'>
              <div class="card-body"  >
                {{ quote.name }}
                <button (click)='toggleDetails(i)'>Toggle Details</button>
                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>
            </div>
    </div>