<body class="hm-gradient">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">
        <div class="container mt-4">
        <div class="row"> 
        <div class="col-md-6 card">
        <form>
            <h2 class="text-center py-4 font-bold font-up danger-text">QUOTES -</h2>
            <div class="md-form">
                <i class="fa fa-user prefix blue-text"></i>
                <label for="form31">Your name</label><br>
                <input type="text" id="form31" class="form-control">
            </div>
            
            <div class="md-form">
                <i class="fa fa-pencil prefix blue-text"></i>
                <label for="form81">Quote</label>
                <textarea type="text" id="form81" class="md-textarea" style="height: 100px"></textarea>
            </div>
            <div class="md-form">
                <i class="fa fa-user prefix blue-text"></i>
                <label for="form341">Author</label><br>
                <input type="text" id="form321" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-outline-success btn-lg">SUBMIT</button>
            </div>
        </form>
        </div>
        </div>
        </div>
        </body>
